
.splide__arrow--prev {
    left: -90px ;
    background-color: transparent;
  }

  .splide__arrow--next {
    right: -90px ;
    background-color: transparent;

  }
  
.splide-container{
  margin-top: 80px;
}

.container{
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;

}

.container:hover{
  fill: blue;
  color: blue;
 
  }