
.splide__arrow--prev {
  display: none;

  }

  .splide__arrow--next {
    display: none;

  }
  
.splide-container{
  margin-top: 80px;
}

.container{
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;

}

/* .container:hover{
  fill: blue;
  color: blue;
 
  } */