
/**RESET STYLES*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

/**GENERAL STYLES*/
img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  margin: 0;
  padding: 0;
}

a {
  color: currentColor;
  text-decoration: none;
}

:focus {
  outline: transparent;
}

body {
  margin: 0;
  /* font-family: 'Work Sans', sans-serif; */

}


@font-face {
  font-family: Work Sans;
  font-weight: 400;
  font-style: normal;
  src: url('./fonts/WorkSans/WorkSans-Regular.ttf');
}

@font-face {
  font-family: Work Sans;
  font-weight: 500;
  font-style: normal;
  src: url('./fonts/WorkSans/WorkSans-Medium.ttf');
}

@font-face {
  font-family: Work Sans;
  font-weight: 700;
  font-style: normal;
  src: url('./fonts/WorkSans/WorkSans-Bold.ttf');
}

@font-face {
  font-family: Roboto;
  font-weight: 400;
  font-style: normal;
  src: url('./fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
  font-family: Roboto;
  font-weight: 500;
  font-style: normal;
  src: url('./fonts/Roboto/Roboto-Medium.ttf');
}

